h1{
	outline-style: dotted;
	color: green;
	text-align: center;
}

p{
	background; green;
}
body {
  background-color: lightblue;

  color: blue;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background-color: #dddddd;
}
img{
	 height: 350px;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}
